<template name="appLayout">
	<div>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<span class="mdl-layout-title">Simple Agenda</span>
					<!-- Add spacer, to align navigation to the right -->
					<div class="mdl-layout-spacer"></div>
					
					<!-- Partie qui reste toujours visible -->
					<nav class="mdl-navigation">
						{{#if currentUser }}
						<div class="">{{getUserAdsViewCount currentUser}}</div>
						{{/if}}
					</nav>
					
					<!-- Partie remplacée par un drawer en écrans plus petits -->
					<nav class="mdl-navigation mdl-layout--large-screen-only">
						{{#if currentUser }}
						<a class="mdl-navigation__link" href="{{pathFor route='management'}}">Matières/activités</a>
						<a class="mdl-navigation__link" href="{{pathFor route='agenda'}}">Agenda</a>
						<a class="mdl-navigation__link" href="{{pathFor route='profile'}}">Mon compte</a>
						<a class="mdl-navigation__link logout" href="#">Déconnexion</a>
						{{/if}}
					</nav>
				</div>
			</header>
			{{{additionalDrawerCSS}}}
			<div class="mdl-layout__drawer" style="{{isConnected}}">
				<span class="mdl-layout-title">Simple Agenda</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link drawer_link" href="{{pathFor route='management'}}">Matières/activités</a>
					<a class="mdl-navigation__link drawer_link" href="{{pathFor route='agenda'}}">Agenda</a>
					<a class="mdl-navigation__link drawer_link" href="{{pathFor route='profile'}}">Mon compte</a>
					<a class="mdl-navigation__link drawer_link logout" href="/">Déconnexion</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content">{{> yield }}</div>
			</main>
		</div>
	</div>
</template>
