<template name="appLayout">
	<!--<nav>
	<div class="nav-wrapper pink darken-4">
	<a href="#" class="brand-logo">Simple Agenda</a>


	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>


	<ul class="right hide-on-med-and-down">
	{{#if currentUser }}
	<li><a href="{{pathFor route='management'}}">Gérer mes matières/activités</a></li>
	<li><a href="{{pathFor route='agenda'}}">Agenda</a></li>
	<li><a class="logout" href="#">Déconnexion</a></li>
	{{/if}}
	</ul>

	<ul class="side-nav" id="mobile-demo">
	{{#if currentUser }}
	<li><a class="menu_link" href="{{pathFor route='management'}}">Matières/activités</a></li>
	<li><a href="{{pathFor route='agenda'}}">Agenda</a></li>
	<li><div class="divider"></div></li>
	<li><a class="menu_link logout" href="#">Déconnexion</a></li>
	{{else}}
	<li><a class="subheader">Connectez vous</a></li>
	{{/if}}
	</ul>
	</div>
	</nav>-->

<div>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Simple Agenda</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a class="mdl-navigation__link" href="{{pathFor route='management'}}">Matières/activités</a>
					<a class="mdl-navigation__link" href="{{pathFor route='agenda'}}">Agenda</a>
					<a class="mdl-navigation__link logout" href="#">Déconnexion</a>
				</nav>
			</div>
		</header>
		{{{isConnectedDrawerCSS}}}
		<div class="mdl-layout__drawer" style="{{isConnected}}">
			<span class="mdl-layout-title">Simple Agenda</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link drawer_link" href="{{pathFor route='management'}}">Matières/activités</a>
				<a class="mdl-navigation__link drawer_link" href="{{pathFor route='agenda'}}">Agenda</a>
				<a class="mdl-navigation__link drawer_link logout" href="/">Déconnexion</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div class="page-content">{{> yield }}</div>
		</main>
	</div>
</div>
</template>
