
.dayNumber {
	position: relative;
	font-size: 1.2em;
	font-family: 'Roboto';
	font-weight: 900;
	color: #888;
}

.courseContainer {
	border-left: solid 5px #880E4F !important;
}


.calendar_container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.calendar_container > .calendar_block {
	width: 14.28571428571%;
	min-height: 30px;
	border: solid 0.5px #EEEEEE;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 2%;
}

.calendar_container > .calendar_block > a {
	text-decoration: none !important;
	color: #888;
	font-weight: 900;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.calendar_container > .calendar_block.calendar_header {
	background-color: #EEEEEE;
	font-weight: bold;
}