table td {
    width: 14.2%;
    border: solid 1px #EEEEEE;
}

table th {
    background-color: #EEEEEE;
    border:  solid 1px #EEEEEE;
}

.dayNumber {
    position: relative;
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: bold;
    color: #888;
}

.courseContainer {
    border-left: solid 5px #880E4F;
}
