

.achievement_thumbnail {
	position: relative;
	overflow: hidden;
	background-color: rgb(103,58,183);
}

.achievement_thumbnail:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.achievement_thumbnail .achievement_content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
}

.achievement_content div {
	display: table;
	width: 100%;
	height: 100%;
}

.achievement_content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white
}