<template name="dynTabs">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__tab-bar">
			{{#each note in getNotes}}
				<a href="#{{note._id}}" class="mdl-tabs__tab is-active">{{getCourseNameById (note.course)}}</a>
			{{/each}}
		</div>


		{{#each note in getNotes}}
			<div class="mdl-tabs__panel is-active" id="{{note._id}}">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<textarea placeholder="Ecrivez votre note ici" note="{{note._id}}" class="materialize-textarea content_area">{{note.content}}</textarea>
						</div>
					</div>
				</form>
			</div>
		{{/each}}
	</div>
</template>
